* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 29, 61, 0.9);
    font-family: 'Roboto', 'Times New Roman', Calibri;
    color: white;
    height: 100vh;
}

main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

div {
    width: 100%;
}

.title {
    background-color: rgba(0, 8, 20, 1);
    font-family: Saira, 'Times New Roman', Calibri;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 30px;
}

span:nth-child(1){
    color: red;
}

span:nth-child(2) {
    color: green;
}

span:nth-child(3) {
    color: blue;
}

.roundChoice {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#playerChoice, #computerChoice, #playerScore, #computerScore {
    width: 100%;
}

#playerChoice, #computerChoice {
    position: relative;
    bottom: -10%;
}

#player, #computer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.scoreMessage {
    font-size: 40px;
}

.controls {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    gap: 80px;
}

.btn {
    all:unset;
    text-align: center;
    background-color: rgba(255, 195, 0, 0.5);
    padding: 0px 10px 10px 10px;
}

.btn:hover, .replay:hover {
    cursor: pointer;
    background-color: rgba(255, 195, 0, 0.7);
}

.btn:active, .replay:active {
    background-color: rgba(255, 195, 0, 1);
}

.btn:disabled {
    opacity: 0.5;
    background-color: gray;
}

.roundMessage {
    text-align: center;
    padding: 20px 0;
    font-weight: 900;
    margin-bottom: -30px;
}

.replay {
    all: unset;
    text-align: center;
    color: black;
    border-radius: 10px;
    align-self: center;
    background-color: rgba(255, 195, 0, 0.5);
}


@media (max-width: 480px) {
    .btn, #playerChoice, #computerChoice {
        width: 100px;
        height: 100px;
        font-size: 75px;
    }

    .controls {
        flex-direction: column;
    }
    
    .title {
        font-size: 20px;
    }

    #computerScore, #playerScore {
        font-size: 30px;
    }
    
}

@media (max-width: 767px) {
    .btn, #playerChoice, #computerChoice {
        width: 150px;
        height: 150px;
        font-size: 75px;
    }

    .title {
        font-size: 50px;
    }
}

@media (min-width: 768px) {
    .btn, #playerChoice, #computerChoice {
        width: 200px;
        height: 200px;
        font-size: 100px;
    }

    .title {
        font-size: 64px;
    }
}

@media (min-width: 1200px) {
    #playerChoice, #computerChoice {
        width: 150px;
        height: 150px;
        font-size: 80px;
    }

    .btn {
        width: 150px;
        height: 150px;
        font-size: 80px;
        border-radius: 10%;
    }

    #computerScore, #playerScore {
        font-size: 30px;
    }

    .roundMessage {
        font-size: 32px;
    }

    .roundMessage p {
        margin-top: 10px;
        font-weight: 300;
        font-size: 24px;
    }

    .replay {
        font-size: 32px;
        padding: 10px 30px;
    }
}